* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$primary-text-color: #0f0f0f;
$card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    height: fit-content;

    @keyframes fadeInUp {
        from {
        transform: translateY(150px);
        opacity: 0;
        }
        to {
        transform: translateY(0);
        opacity: 1;
        }
    }

    .fade-in-up {
        animation: 1s both fadeInUp;
    }

    .animate {
        animation-duration: 0.5s;
        animation-name: animate-fade;
        animation-delay: 0.3s;
        animation-fill-mode: backwards;
    }
    
    @keyframes animate-fade {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    

    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
        /* background-color: rgb(236, 255, 255); */



        /* NAVBAR */
        header, footer {
            display: flex;
            justify-content:space-between;
            align-items: center;
            padding: 0 4rem;
            z-index: 9;
            position: sticky;
            top: 0;
            background-color: #ffffff;

            .logo {
                font-family: "Caveat";
                font-size: 1.8rem;
                font-weight: bold;
                text-decoration: none;
                color: $primary-text-color;
            }

            .copyright{
                color: #777;
                font-size: 0.8rem;
                font-weight: 500;
            }

            nav {
                margin: 2rem;
            }

            nav ul{
                display: flex;
                list-style-type: none;
                gap: 4em;
                margin: 0;
            }

            nav ul li a{  
                color: $primary-text-color;
                margin: 0;
                font-weight: 600;
                font-size: 1rem;
                text-decoration: none;
            }

            nav ul li:hover{
                text-decoration: underline;
            }




            .mobile-menu, .mobile {
                display: none;
            }



        }

        .footer {


            .logo{
                font-size: 1.2rem;
            }

            .desktop {
                margin: 0;
            }

            nav ul {
                               
                gap: 2rem;
                padding: 0;
                margin: 0;
                
            }

        }


        /* HERO SECTION */

        .hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
            padding: 6rem;
            padding-top: 0;

            .left {

                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #000000;
                gap: 2rem;

                h1 {
                    margin: 0;
                    padding: 0;
                    font-family: 'Caveat';
                    font-size: 4rem;
                }

                
                p  {
                    margin: 0;
                    padding: 0;
                    line-height: 2.5rem;
                    font-size: 1.5rem;
                }


                .cta-btns {

                    display: flex;
                    align-items: center;
                    gap: 2rem;


                    .primary {
                        text-decoration: none;
                        color: $primary-text-color;
                        background-color: #000000;
                        padding: 16px 40px;
                        border-radius: 32px;
                        font-weight: bold;
                        color: #ffffff;
                    }

                    .primary:hover {
                        background-color: #525252;
                    }


                    .secondary {

                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        text-decoration: none;
                        color: #000000;
                        font-weight: 500;

                        svg {
                            margin-top: 2px;
                        }

                    }

                    .secondary:hover{
                        text-decoration: underline;
                        
                    }
                    
                }

            }

            .right{
                max-width: 50%;

                img{
                    width: 100%;
                }
            }

        }

        .features-heading-section{
            position: relative;
            width: 100%;
            padding-top: 5rem;
            padding-bottom: 5rem;
            max-width: 1366px;
            margin: 0 auto;

            .background-full{
                position: absolute;
                top: 4%;
                left: 20%;
                z-index: -2;
                width: 500px;
                height: 500px;
                border-radius: 50%;
                background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
            }

            .img-container {
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -2;
                display: flex;
                justify-content: center;

                img {
                    width: 90%;
                    border-radius: 16px;
                    border: 2px solid black;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                }
            }


            .text-1{
                position: absolute;
                top: 63%; 
                right: 50%;
                text-align: center;
                transform: translate(50%,-50%);
                text-transform: uppercase;
                font-size: 6em;
                font-weight: 700;
                width: 100%;
                color: #2f5452;
                margin: 0;
                padding: 1rem;
                z-index: -1;
            }

            .text-2, .text-3 {

                    position: absolute;
                    color: #ffffff;
                    font-weight: 700;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;
                    font-size: 4rem;

            }

            .text-3 {
                color: #000000;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 16px;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                width: max-content;
                padding: 1rem;

            }


            .image-1 {
                width: 100%;
            }

            .image-2 {
                width: 100%;
                border-radius: 32px;
            }

            p {
                text-align: center;
            }

        }


        /* ABOVE FEATURES TEXT*/
        .features-heading{

            font-size: 1.4rem;
            line-height: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 5rem;
            padding-bottom: 5rem;

            p{
                margin: auto 0;
                display: flex;
                flex-direction: column;
                text-align: center;

                span {
                    font-weight: bold;
                    font-size: 3rem;
                }
            }
        


        }

        /* FEATURES SECTION */
        .features {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            padding-bottom: 5rem;

            .card{
                width: 450px;
                height: 450px;
                aspect-ratio: 1 / 1;
                background-color: aqua;
                border-radius: 16px;
                font-size: 1.1rem;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                transition:  0.3s ease-in-out;
            }

            .card:hover{
                box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
                transition:  0.3s ease-in-out;
            }

            .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card10 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #f5f5f5;

                img {
                    max-width: 70%;
                    height: auto;
                }

                p {
                    display: flex;
                    flex-direction: column;
                    max-width: 90%;
                    text-align: center;
                    line-height: 1.8rem;

                    span{
                        font-weight: bold;
                    }
                }

            }

            .card2 {
                background-color: #0B535D;
                color: #ffffff;
            }

            .card7 {
                background-color: #1C1C1C;
                color: #ffffff;
            }

/*             .features-end-img{
                max-width: 80%;
                position: absolute;
                z-index: -1;
                top: 5rem;
                opacity: 0.1;
            } */



        }

        #features{
            scroll-margin-top: 280px;
        }


        .demo-heading {
            margin: auto 0;
            display: flex;
            justify-content: center;
            padding-top: 5rem;
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
        }

        /* Demo video section*/
        .demo {
            margin: auto 0;
            display: flex;
            justify-content: center;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        .contact{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 5rem;
            padding-bottom: 5rem;
            background-color: #ffffff;

            a {
                width: 200px;
                padding: 1rem;
                text-align: center;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                color: #ffffff;
                background-color: #000000;
                border-radius: 16px;
            }
        }

        /* DOCUMENTATION PAGE */

        .docs-wrapper {

            display: flex;

            .sidebar {
                background: #f5f5f5;
                border-radius: 32px;
                height:100vh;
                width: 350px;
                position:fixed;
                z-index:5;
                outline:none;
                display: flex;
                flex-direction: column;
                padding: 1rem;


                a {
                    text-decoration: none;
                    color: $primary-text-color;
                }

                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    line-height: 2rem;

                    li {
                        padding-left: 20px;
                        font-weight: 500;

                        /* SUB sections*/
                        ul {
                            li {
                                border-left: 2px solid rgb(212, 212, 212);
                            }
                        }
                        
                    }

                }
            }

            main {
                width: 100%;
                padding-left: 400px;
                margin-bottom: 5rem;

                p {
                    line-height: 1.5rem;

                    span {
                        font-weight: 700;
                    }
                }

                #link1, #link2, #link3, #link4, #link5, #link6, #link7, #link8, #link9, #link10, #link11, #link12, #link13, #link14, #link15 {
                    scroll-margin-top: 100px;
                }

                img{
                    max-width: 100%;
                }
            }

        }


        /* PRICING PAGE */
        .pricing {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            position: relative;
    
    
            .button-labels{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
    
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                }
                
                .switch input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                input:checked + .slider {
                    background-color: #2196F3;
                }
                
                input:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                }
                
                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
                
                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }
                
                .slider.round:before {
                    border-radius: 50%;
                }
    
    
    
            }

    
            .pricing-cards{
    
                display: flex;
                gap: 2rem;
                margin-bottom: 4rem;
                transition:  0.3s ease-in-out;
                min-height: 592px;
                justify-content: center;
                flex-wrap: wrap;
    
    
    
                .free {
    
                    background-color: #ffffff;
                    padding: 2rem;
                    border-radius: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    max-width: 348px;
                    box-shadow: $card-shadow;
                    transition:  0.3s ease-in-out;
                    border: 2px solid #d6d6d6;
                    

                    .payment-title-label {

                        p {
                            line-height: 1.5rem;
                        }
                    }

                    .perks{

                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        p{
        
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                            margin: 0;

                            svg {
                                min-width: 24px; 
                                height: 24px;
                            }
        
                        }
                    }
    
    
                    .free-cta{
    
                        text-decoration: none;
                        color: $primary-text-color;
                        padding: 16px;
                        border-radius: 32px;
                        font-weight: bold;
                        color: #000000;
                        text-align: center;
                        border: 1px solid black;
    
                    }

                    .free-cta:hover{
                        background-color: #000000;
                        color: #ffffff;
                    }
                }
    
                .paid, .paid-no-after {
    
                    background-color: #0B535D;
                    position: relative;
                    color: #ffffff;
                    padding: 2rem;
                    border-radius: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-shadow: $card-shadow;
                    transition:  0.3s ease-in-out;
                    max-width: 348px;
                    gap: 2rem;

                    p{
                        margin: 0;
                    }

                    .mail {
                        font-weight: 500;
                    }

                    .type {
                        font-size: 1.4rem;
                        font-weight: 800;
                    }
    
                    .payment-title-label{


                        h2 {
                            margin: 0;
                            margin-bottom: 1rem;
                        }

                        .price-label {
        
                            display: flex;
                            flex-direction: column;
                            align-items: baseline;
                            gap: 1rem;
                            margin: 0;
        
                            span {
                                font-size: 2.5rem;
                                font-weight: bold;
                            }
                        }
                    }
    

                    .perks{

                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        p{
        
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                            margin: 0;
        
                        }
                    }
    
                    .paid-cta{
    
                        text-decoration: none;
                        background-color: #ffffff;
                        color: #000000;
                        padding: 16px;
                        border-radius: 32px;
                        font-weight: bold;
                        text-align: center;
                        margin-top: 1rem;      
    
                    }

                    
                    .paid-cta:hover{
                        background-color: #000000;
                        color: #ffffff;
                    }
    
    
    
                }

                .team {

                    justify-content: flex-start;

                }

                .oneyearpass{
                    background-color: #ffffff;
                    color: #000000;
                    box-shadow: $card-shadow;
                    border: 2px solid #d6d6d6;

                    .paid-cta{
                        border: 1px solid black;
                    }
                    
                }

                .free:hover {
                    background-color: #e2e2e2;
                    transition:  0.3s ease-in-out;
                }

                .paid:hover {
                    background-color: #16737e;
                    transition:  0.3s ease-in-out;
                }

                .paid::after{
                    content: "*VAT charges may apply "  " *Prices in USD";
                    white-space: pre;
                    font-size: 0.8rem;
                    position: absolute;
                    bottom: 6px;
                    left: 0;
                    right: 0;
                    margin-inline: auto;
                    width: fit-content;
                }

                .oneyearpass:hover{
                    background-color: #e2e2e2;
                    transition:  0.3s ease-in-out;
                }
    
            }

            img{
                max-width: 80%;
                position: absolute;
                z-index: -1;
                top: 5rem;
                opacity: 0.1;
            }
    

        }

    
        .faq{
            width: 100%;
            max-width: 1440px;
            display: flex;
            flex-direction: column;
            padding-bottom: 5rem;

            .collapsible {
                background-color: #ccc;
                color: #000000;
                cursor: pointer;
                padding: 1.5rem;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 1rem;
                font-weight: 500;
                text-decoration: none;
                font-family: 'Montserrat';
                border: 2px solid #ffffff;
                border-radius: 16px;
              }
              
              .active, .collapsible:hover {
                background-color: #555;
                color: #ffffff;
              }
              
              .content {
                padding: 0 18px;
                display: none;
                overflow: hidden;
                background-color: #ffffff;

                p {

                    line-height: 1.5rem;

                    .bold {
                        font-weight: 800;
                    }

                    .icon {
                        width: 25px;
                    }
                }

                .faq_2 {
                    max-width: 100%;
                }
              }
        }

        .policy-wrapper {

            padding: 2rem 5rem 5rem 4rem;;
            line-height: 1.5rem;

        }


    }

}

@media only screen and (max-width: 1024px){ 

    body {

    .wrapper{

        .hero {

            .left {

                .cta-btns{

                    a {
                        font-size: 0.8rem;
                        text-align: center;
                    }
                }



            }

        }

            .features-heading-section{

                max-width: 700px;

                .background-full {
                    width: 250px;
                    height: 250px;
                }

                .text-1, .text-2, .text-3 {
                    position: absolute;
                    color: #ffffff;
                    font-weight: 700;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;
                    font-size: 3rem;
                }

                .text-1, .text-3 {
                    color: #000000;
                }


    
            }

            .features{

                .card {
                    width: 250px;

                    p {
                        font-size: 1rem;
                    }
                }

            }
        
    }
}


}

@media only screen and (max-width: 900px){
    body {

        .wrapper{

            header {

                position: sticky;
                justify-content: space-between;
                width: 100%;
                background-color: #ffffff;
                padding: 2rem;
                top: 0;



                /* NAVBAR MOBILE*/
                .desktop{
                    display: none;
                }

                .mobile{
                    display: block;
                    border: none;
                    background-color: #ffffff;
                }


                .mobile-menu {
                    display: none;
                    position: absolute;
                    background-color: #ffffff;
                    top: 4em;
                    right: 0;
                    width: 100%;

                    nav ul{
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;
                        gap: 2em;
                        margin: 0;
                        padding: 0;
                    }

                }

            }


            /* HERO MOBILE*/

            .hero {
                flex-direction: column;
                gap: 0;
                height: auto;
                background-image: url(".././images/hero-img-mobile.webp");
                width: 90%;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: cover;
                /* background-position-x: -55px; */
                margin-top: 50px;
                padding: 2rem;
                z-index: 0;
                border-radius: 16px;
                

                .left{
                    width: 100%;
                    align-items: baseline;
                    color: #ffffff;

                    .cta-btns {

                        width: 100%;
                        flex-direction: column;

                        .primary{
                            background-color: #ffffff;
                            color: #000000;
                        }

                        .secondary {
                            filter: invert(100%);

                        }
                        


                    }
                }

                .right{
                    display: none;
                    
                }


            }

            .features-heading-section{

                .img-container {
                    display:  none;
                }

                .text-1 {
                    font-size: 1.5rem;
                }
    

                 .text-2, .text-3 {
                    font-size: 1.5rem;
                    padding: 0;
                    position: relative;
                    color: #000000;
                    top: 0;
                    bottom: 0;
                    margin-top: 2rem;
                    margin-bottom: 0;
                }

                .image-2 {
                    border-radius: 0;
                }

                .background-full {
                    display: none;
                }
    
    
            }


            .features-heading {
                width: 90%;
                margin: 0 auto;
            }


            .features {

                gap: 4rem;
    
                .card{

                    height: auto;
                    border-radius: 32px;
                    width: 90%;

                }
            }

            
            footer {
                display: none;
            }


            .pricing {

                padding-top: 10rem;

                h2 {
                    text-align: center;
                }

                .pricing-cards {
                    flex-direction: column;
                    gap: 4rem;

                    .free{
                        height: fit-content;
                        gap: 2rem;
                    }
                }
            }


            .docs-wrapper {

                flex-direction: column;
                padding-top: 5rem;

                .sidebar {
                    position: relative;
                    height: auto;
                    padding-top: 5rem;
                }

                main {
                    padding: 1rem;
                }
            }

            .policy-wrapper {
                padding: 6rem 2rem 6rem 2rem;
            }


        }
    }


}


@media only screen and (min-width: 800px){

    .pricing {


        .pricing-cards {
            flex-direction: row;

        }
    }
    

}
